<section id="about" class="py-5">
    <div class="container">
        <!-- About Content -->
        <div class="about-intro text-center">
            <hr class="my-5">
            <p class="text-secondary mb-4">
                At Atitlan Consulting, we specialize in shaping the future of real estate development by offering top-tier management and consulting services.
                Our team brings decades of expertise in real estate development management, delivering strategic solutions for our clients in the public and private sectors.
            </p>
        </div>

        <!-- Services Content -->
        <div class="row align-items-center">
            <hr class="my-5">
            <!-- Left Column: Text Content -->
            <div class="col-md-6">
                <div class="services-description">
                    <p class="text-secondary mb-4">
                        We offer comprehensive development management services tailored to bring your real estate projects to life. From feasibility studies to execution, our expert team guides you every step of the way to maximize opportunities and achieve success.
                    </p>
                    <ul class="custom-list">
                        <li><strong>Feasibility studies and financial viability assessments</strong></li>
                        <li>Opportunity Analysis</li>
                        <li>Concept Design and Financial Analysis</li>
                        <li>Site Search and Land Assembly</li>
                        <li>Joint Venture facilitation and Development Agreements</li>
                        <li>Due Diligence</li>
                    </ul>
                </div>
            </div>

            <!-- Right Column: Image -->
            <div class="col-md-6 text-center">
                <div class="about-image">
                    <img src="static/images/building-01.jpg" 
                         alt="Building" 
                         class="img-fluid rounded shadow">
                </div>
            </div>
        </div>
    </div>
</section>