<section id="about" class="py-0">
    <div class="container">
        <!-- About Content -->
        <!-- <div class="about-intro text-center">
            <hr class="my-5">
            <p class="text-secondary mb-4">
                At Atitlan Consulting, we specialize in shaping the future of real estate development by offering top-tier management and consulting services.
                Our team brings decades of expertise in real estate development management, delivering strategic solutions for our clients in the public and private sectors.
            </p>
        </div> -->

        <!-- Services Content -->
        <div class="row align-items-center">
            <hr class="my-5">
            <!-- Left Column: Text Content -->
            <div class="col-md-6 text-center">
                <div class="services-description">
                    <p class="text-secondary mb-4">
                        General Practice Chartered Surveyors and Development Consultants, with backgrounds spanning asset management, fund management, and valuation, the team have worked together since 2012, allowing us to offer a uniquely tailored approach to advise and assist strategic land promoters, developers, and landowners navigate the complexities of the UK planning system and development lifecycle.
                    </p>
                </div>
            </div>

            <!-- Right Column: Image -->
            <div class="col-md-6 text-left">
                <div class="about-list">
                    <ul class="custom-list">
                        <li>Feasibility studies and financial viability assessments</li>
                        <li>Opportunity Analysis</li>
                        <li>Concept Design and Financial Analysis</li>
                        <li>Site Search and Land Assembly</li>
                        <li>Joint Venture facilitation and Development Agreements</li>
                        <li>Due Diligence</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>