<section id="about" class="py-5">
    <div class="container">
        <!-- About Content -->
        <!-- <div class="about-intro text-center">
            <hr class="my-5">
            <p class="text-secondary mb-4">
                At Atitlan Consulting, we specialize in shaping the future of real estate development by offering top-tier management and consulting services.
                Our team brings decades of expertise in real estate development management, delivering strategic solutions for our clients in the public and private sectors.
            </p>
        </div> -->

        <!-- Services Content -->
        <div class="row align-items-center">
            <hr class="my-5">
            <!-- Left Column: Text Content -->
            <div class="col-md-6 text-center">
                <div class="services-description">
                    <p class="text-secondary mb-4">
                        Royal Institution of Chartered Surveyors Regulated Firm specialising in development management services. From feasibility studies to execution, our expert team are here to guide you every step of the way.
                    </p>
                    <p class="text-secondary mb-4">

                        With a combined 40 years of industry expierence, we are specialists in mixed-use of experience in housing and mixed-use property development. 
                        As General Practice surveyors with backgrounds in asset and fund management, and valuation and town planning, the team have worked together for a number of years, offering development advice to strategic land promoters, developers, and landowners navigating the complexities of the panning system.
                    </p>
                    <p class="text-secondary mb-4">
                        Development lifecycle, land assembly, feasibility studies, and navigating the complexities of the planning system.
                    </p>
                </div>
            </div>

            <!-- Right Column: Image -->
            <div class="col-md-6 text-left">
                <div class="about-list">
                    <ul class="custom-list">
                        <li>Feasibility studies and financial viability assessments</li>
                        <li>Opportunity Analysis</li>
                        <li>Concept Design and Financial Analysis</li>
                        <li>Site Search and Land Assembly</li>
                        <li>Joint Venture facilitation and Development Agreements</li>
                        <li>Due Diligence</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>