

<div class="container">
    <!-- <h2 class="text-center">Case Studies</h2> -->
    <!-- <hr class="my-5"> -->
    <div>
    <p>Explore a sample of our previous projects. Elthorne Works, Boson Road, Merrick Road.</p>
    </div>
    <!-- Filter Buttons -->
    <div class="d-flex justify-content-center gap-3 my-3">
        <button class="btn btn-primary filter-btn" data-category="minor">Minor</button>
        <button class="btn btn-primary filter-btn" data-category="major">Major</button>
        <button class="btn btn-primary filter-btn" data-category="strategic">Strategic</button>
    </div>
    <!-- Carousel Row -->
    <div class="row justify-content-center">
        <div id="case-study-container" class="d-flex flex-nowrap overflow-auto">
            <!-- Cards will be inserted here dynamically -->
        </div>
    </div>

    <!-- Map Section -->
    <div class="mt-4">
        <div class="map-container">
            <div id="map"></div>
        </div>
    </div>
</div>
