<section id="team" class="team-section py-1">
    <div class="container">
        <div class="row no-stack justify-content-center">
            <!-- Team Member 1 -->
            <div class="col-md-6 col-lg-4 mb-4 d-flex">
                <div class="profile-container w-100">
                    <div class="profile-header d-flex flex-column align-items-center">
                        <div class="profile-img mb-3">
                            <a href="#">
                                <img src="static/images/am_headshot.png" alt="Andrew Murphy" class="rounded-circle img-fluid">
                            </a>
                        </div>
                        <h3 class="profile-name">Andrew Murphy</h3>
                        <p class="profile-qualifications">
                            BSc. (Hons.) MRICS
                        </p>
                    </div>
                    <div class="profile-details mt-3">
                        <p class="profile-bio">Andrew's profile bio...</p>
                    </div>
                </div>
            </div>

            <!-- Team Member 2 -->
            <div class="col-md-6 col-lg-4 mb-4 d-flex">
                <div class="profile-container w-100">
                    <div class="profile-header d-flex flex-column align-items-center">
                        <div class="profile-img mb-3">
                            <a href="#">
                                <img src="static/images/od_headshot_bw.png" alt="Oliver Dawson" class="rounded-circle img-fluid">
                            </a>
                        </div>
                        <h3 class="profile-name">Oliver Dawson</h3>
                        <p class="profile-qualifications">
                            BA (Hons), MSc, MRICS,RICS Registered Valuer
                        </p>
                    </div>
                    <div class="profile-details mt-3">
                        <p class="profile-bio">Oliver's profile bio...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
