/* =====================
   Global Styles & Fonts
===================== */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-VF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #00bfff;
    --primary-color-light: #b3e6ff;
    --primary-color-dark: #007acc;

    --secondary-color: #ff8c00;
    --secondary-color-light: #ffd699;
    --neutral-light: #fff9f2;
    --neutral-dark: #7f8c8d;
    --neutral-cream: #fffaf0;

    --background-color: #2e2e2e;
    --background-color-light: #fff9f2; /* fff9f2; fffaf0*/
    --text-primary: #696969;
    --text-secondary: #c0c0c0ff;
}

body {
    font-family: 'Raleway', Arial, sans-serif;
    color: var(--text-primary);
    background-color: var(--background-color-light);
    line-height: 1.6;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);  /* Custom orange */
    border-color: var(--primary-color-dark);
    color: var(--background-color-light);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: var(--secondary-color); /* Darker orange */
    border-color: var(--secondary-color-light);
}



/* =====================
   Header & Navbar
===================== */
.sticky-top {
    z-index: 1020;
    background-color: #ffffff;/*var(--neutral-light) !important; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    padding: 10px 20px;
    background-color: #ffffff;
    color: var(--text-primary);
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    /*gap: 0.5rem;*/
}

.navbar .nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: var(--text-secondary) !important;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: var(--secondary-color) !important;
}

/* Navbar Toggler Icon */
.navbar-toggler {
    border: none; /* Removes the default border */
    outline: none; /* Removes focus outline */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28155,155,155,1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important; /* Customizes icon color */
}

/* Hide both logos by default */
.logo-small,
.logo-large {
    display: none;
}

/* Mobile-first: Show the small logo */
.logo-small {
    display: inline-block;
    max-height: 3rem;
}

/* Tablet and Desktop: Switch to large logo */ 
@media (min-width: 768px) {
    .logo-small {
        display: none;
    }

    .logo-large {
        display: inline-block;
    }
}

/* Navbar Logo Alignment */
.navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px; /* Add spacing between logos and text */
    height: 3rem; 
}

.logo-small,
.logo-large {
    height: 3rem; /* Ensure consistent logo height */
    object-fit: contain; /* Prevent stretching */
}


/* =====================
   Hero Section
===================== */
#hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align content to the top flex-start*/
    align-items: center;
    text-align: center;
    background-color: var(--background-color-light) !important;
    overflow: hidden;
    padding: 10px 10px 10px;
}

.hero-background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.hero-wordstamp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 0rem;
    z-index: 1;
    padding-top: 1rem;
    margin-bottom: 5rem;
}

.hero-wordstamp {
    max-width: 8rem;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.hero-visually-hidden {
    position: relative;
    clip: rect(0px, 0px, 0px, 0px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
}

.hero-cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero-rics-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 1rem;
    z-index: 1;
    padding-top: 3rem;
}

.hero-rics-logo {
    max-width: 5rem;
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #hero {
        padding: 40px 10px;
        background-image: url('../images/hero-sketch-mobile.svg');
        background-size: cover;
        background-position: center;
    }

    .hero-wordstamp {
        max-width: 8rem;
    }

    #hero h2 {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.3;

    }

    .hero-rics-logo {
        max-width: 6rem;
    }
}

@media (min-width: 769px) {
    #hero {
        background-image: url('../images/hero-sketch-desktop.svg');
        background-size: cover;
        background-position: center no-repeat;
    }

    .hero-wordstamp-container {
        display: none;
    }

    #hero h2 {
        font-size: 2rem;
    }

    .hero-rics-logo {
        max-width: 15rem;
    }
}

/* Services Section */
#services {
    background-color: var(--background-color-light);
    text-align: center;
}

.section-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-primary);
}

.service-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color-dark);
    margin-bottom: 0.75rem;
    text-align: left;
}

.service-list {
    list-style: none;
    padding: 0;
    text-align: left;
}

.service-list li {
    font-size: 1rem;
    padding: 8px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .service-title {
        text-align: center;
    }

    .service-list {
        text-align: center;
    }
}




/* =====================
   Team Section & Profiles
===================== */
#team {
    padding: 0.5rem 0.5rem;
    background-color: var(--background-color-light);
    text-align: center;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    justify-content: center;
    align-items: top;
    /*background-color: var(--neutral-light);*/
}

.team-rics-logo {
    max-width: 10rem; /* Keeps it within 160px */
    width: 100%; /* Ensures responsiveness */
    height: auto; /* Maintains aspect ratio */
    object-fit: contain; /* Ensures it doesn't distort */
}


.profile-container {
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff /*var(--background-color-light);*/
}

.profile-img img {
    width: 9rem;
    height: 9rem;
    border-radius: 25%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-img img:hover {
    transform: scale(1.1);
}

.profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .profile-container {
        padding: 0.1rem;
    }

    .profile-img img {
        width: 6rem;
        height: 6rem;
    }

    .profile-name {
        font-size: 0.8rem;
    }

    .profile-details {
        font-size: 0.8rem;
    }

    .profile-bio {
        font-size: 0.8rem;
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .team-rics-logo {
        max-width: 5rem;
    }
}

/* =====================
   Contact Form
===================== */
#contact {
    padding: 40px 20px;
    background-color: var(--background-color-light);
    text-align: center;
}

#contact form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--neutral-cream);
}

.form-floating {
    margin-bottom: 1rem; /* Adds spacing */
}

.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

@media (min-width: 768px) {
    .form-footer {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #contact {
        padding: 30px 15px;
    }

    #contact form {
        padding: 20px;
    }
}

@media (min-width: 768px) {
    .form-floating input, 
    .form-floating textarea {
        padding: 1rem; /* Adds better spacing */
    }
}

/* =====================
   Footer
===================== */
#footer {
    padding: 20px 0;
    background-color: var(--background-color-light) !important;
    text-align: center;
    font-size: 0.9rem;

}

.footer-links a {
    color: var(--text-primary); /* Improve contrast */
    font-size: 0.9rem;
    padding: 8px;
}

/* =====================
   Utilities
===================== */
.container {
    padding: 1rem;
    box-sizing: border-box;
}

